<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
      <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
      <title>Kanban App</title>
   </head>
   <body>
      <div class="container" id="kanbanapp">
         <div class="row">
               <p>
               <h1 class="text-center">Kanban App</h1>
               <h3 class="text-center">
                 <p>
                <img src="static/IIT_Madras_Logo.png" height="200" width="200">
              <p>Submitted in Partial Fulfillment of the Requirement
              <p>For the award of Degree of
              <p>Bachelor of Science, Programming and Data Science
              <p>IIT Madras
              <p>By Sarthak Rastogi

              </h3>

               <hr>

              <h5 class="text-center"><a href="{{ url_for('signup') }}"><b-button class="btn btn-dark" > Sign up to start</b-button></a><br>

              <p><p>Already a user? <a href="{{ url_for('signin') }}"><b-button class="btn btn-dark" >Login </b-button></a><br></h5>


</body>

</html>
